<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <main class="main">
        <form class="form" onsubmit="localStorage.setItem('username',document.getElementById('username').value)" action="/username" method="POST">
            Username:<input type="text" name="username" id="username" class="username">
            <br><br>
            <button type="submit" class="login">Login</button>
        </form>
    </main>
</body>
</html>